<% include ./partials/boilerplate.ejs%>
    <div id="index">
        <img src="http://res.cloudinary.com/dkcipiujg/image/upload/v1524444031/rxinfologo.png"  alt="rxinfo">
        <button class="button"><a href="/auth/login">Login</a></button>
        <button class="button"><a href="/auth/register">Register</a></button>
    </div>
    <% include ./partials/end.ejs %>
