<% include ../partials/boilerplate %>

 <img src="http://res.cloudinary.com/dkcipiujg/image/upload/v1524444031/rxinfologo.png"  alt="rxinfo">



 <table style = "width:100%">
<% information.forEach((drug) => { %>
  <tr>
    <th>Drug Name</th>
    <th>Comments</th>
    <th>Consent</th>
    <th>Edit</th>
  </tr>

  <tr>
    <td><%= drug.name %></td>
    <td><%= drug.comment %></td>
    <td><%= drug.consent %></td>
    <td><a href = "drugs/drugs-edit/<%= drug.id %>">Edit</a></td>
  </tr>

<% }) %>

</table>


<br/>

<button type = "button" class = "btn-success"><a href ='drugs/drugs-add'>Add</a></button>



<% include ../partials/end %>
