<% include ../partials/boilerplate %>


<form method = "POST" action ='/drugs/drug-edit'>
  <% info.forEach((drug) => { %>
  <input class = "input" type = "drugs" name = "drugs" value = <%= drug.name %>
  <br/>
  <br/>
  <input class = "input" type = "comment" value = <%= drug.comment %> ">
  <br/>
  <br/>
  <input class = "input" type = "alcconsent" name = "alcconsent" value = " <%= drug.consent %>">
  <br/>
  <br/>

  <input class = "submit" type = "submit">

 <% }) %>

</form>





<% include ../partials/end %>
