<% include ../partials/boilerplate %>

 <img src="http://res.cloudinary.com/dkcipiujg/image/upload/v1524444031/rxinfologo.png"  alt="rxinfo">



 <table style = "width:100%">

  <tr>
    <th>Drug Name</th>
    <th>Comments</th>
    <th>Consent</th>
    <th>Edit</th>
  </tr>

<% user_comments.forEach((drug) => { %>
    <th><%= drug.name %></th>
    <th><%= drug.comment %></th>
    <th><%= drug.consent %></th>
    <th><a href = "users/edit/<% drug.id %>">Edit</a></th>


  <% }) %>


<button type = "button" class = "btn-success"><a href = 'users/drugs-edit'>Add</a></button>



<% include ../partials/end %>
